body {
    background-color:black;
}

.texto-centralizado {
    position: absolute;
    left: 50vw;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px
}


h1 {
    font-size: 3em;
    color: white
}

h3{
    text-align: center;
    color:aliceblue
}


.barra {
    background-color: #E9CA4F;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
  }

.imagem {
    width: 100%;
    max-width: 40vw;
    height: 40vw;
    object-fit:cover; /* corta a imagem sem distorcer*/
    border-radius: 20px;
}

.botom {
    float: left;
}